<div class="panel panel-primary">
	<div class="panel-heading"><i class="glyphicon glyphicon-log-out"></i> PRENSA | Administraci&oacute;n | Salir</div>
	<div class="panel-body">
		
		<h3>Salir de la aplicaci&oacute;n <small>¿Esta seguro?</small></h3>
		
		<button type="button" class="btn btn-danger"  ng-click="cancelar()">
			<i class="glyphicon glyphicon-remove"></i>
			Cancelar
		</button>

		<button type="button" class="btn btn-success" ng-click="aceptar()" >
			<i class="glyphicon glyphicon-ok"></i>
			Aceptar
		</button>

	</div>
</div>