<!-- Menu: Archivo -->
<div class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-edit"></i> Archivo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/password"><i class="glyphicon glyphicon-edit"></i> Cambiar Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/logout"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
          </ul>
    </li>
</div>

<!-- Menu: Herramientas -->
<div class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Herramientas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/partes"><i class="glyphicon glyphicon-list-alt"></i> Partes de Prensa</a></li>
          </ul>
    </li>
</div>

<!-- Menu: Ayuda -->
<div class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-question-sign"></i> Ayuda<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/acercade"><i class="glyphicon glyphicon-info-sign"></i> Acerca de...</a></li>
            <li><a href="#/manual"><i class="glyphicon glyphicon-question-sign"></i> Manual</a></li>
          </ul>
    </li>
</div>