<ul>
    <li>
    <a id="menuArchivoMain" href="javascript:void(0);" class="dropdown-button"  data-activates="menuArchivo" data-hover="true" dropdown>
        Archivo
        <i class="material-icons right">arrow_drop_down</i>
    </a>
    </li>
    <li><a href="#/partes">Herramientas</a></li>
    <li><a href="#/partes">Ayuda</a></li>
</ul>

<ul id="menuArchivo" class="dropdown-content">
    <li>
        <a href="#/password">
            Cambiar el password
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="#/logout">
            Salir de la aplicaci&oacute;n
        </a>
    </li>
</ul>