<ul>
    <li>
        <a id="menuArchivoMain" href="javascript:void(0);" class="dropdown-button"  data-activates="menuArchivo" data-hover="true" dropdown style="width:150px;">
            Archivo
            <i class="icons ion-android-more-vertical right"></i>
        </a>
    </li>
    <li>
        <a id="menuHerramientasMain" href="javascript:void(0);" class="dropdown-button" data-activates="menuHerramientas" data-hover="true" dropdown style="width:150px;">
            Herramientas
            <i class="icons ion-android-more-vertical right"></i>
        </a>
    </li>
    <li>
        <a id="menuAyudaMain" href="javascript:void(0);" class="dropdown-button" data-activates="menuAyuda" data-hover="true" dropdown style="width:150px;">
            Ayuda
            <i class="icons ion-android-more-vertical right"></i>
        </a>
    </li>
</ul>

<ul id="menuArchivo" class="dropdown-content">
    <li>
        <a href="#/logout">
            Salir de la aplicaci&oacute;n
        </a>
    </li>
</ul>

<ul id="menuHerramientas" class="dropdown-content">
    <li>
        <a href="#/partes">
            Administrar partes de prensa
        </a>
    </li>
</ul>

<ul id="menuAyuda" class="dropdown-content">
    <li>
        <a href="#/acercade">
            Acerca de ...
        </a>
    </li>
    <!--
    <li>
        <a href="javascript:void(0);">
            Manual de usuario
        </a>
    </li>
    -->
</ul>