<div class="panel panel-primary">
	<div class="panel-heading"> <i class="glyphicon glyphicon-menu-hamburger"></i> PRENSA | Administracion | Partes de Prensa | Nuevo</div>
	<div class="panel-body">
	
		<!-- Volanta -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Volanta:</span>
			<input type="text" class="form-control" maxlength="120" ng-model="volanta" style="width:400px;">
		</div>

		<!-- Titulo -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Titulo:</span>
			<input type="text" class="form-control" maxlength="250" ng-model="titulo" style="width:450px;">
		</div>

		<!-- Bajada -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Bajada:</span>
			<input type="text" class="form-control" maxlength="250" ng-model="bajada" style="width:400px;">
		</div>

		<!-- Cabeza -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Cabeza:</span>
			<textarea class="form-control" ng-model="cabeza" style="width:500px;height:120px;"></textarea>
		</div>

		<!-- Cuerpo -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Cuerpo:</span>
			<textarea class="form-control" ng-model="cuerpo" style="width:500px;height:170px;"></textarea>
		</div>

		<!-- Fecha -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Fecha:</span>
			<input type="number" class="form-control" min="1" max="31" ng-model="dia" style="width:90px;">
			<span  class="input-group-addon" style="width:50px;">/</span>
			<input type="number" class="form-control" min="1" max="12" ng-model="mes" style="width:90px;">
			<span  class="input-group-addon" style="width:50px;">/</span>
			<input type="number" class="form-control" min="1975" max="2016" ng-model="anio" style="width:90px;">
		</div>

		<!-- Hora -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Hora:</span>
			<input type="number" class="form-control" min="0" max="23" ng-model="hora" style="width:90px;">
			<span  class="input-group-addon" style="width:50px;">:</span>
			<input type="number" class="form-control" min="0" max="59" ng-model="minuto" style="width:90px;">
			<span  class="input-group-addon" style="width:50px;">:</span>
			<input type="number" class="form-control" min="0" max="59" ng-model="segundo" style="width:90px;">
		</div>

		<!-- Fotografias -->
		<div class="input-group">
			<span  class="input-group-addon" style="width:120px;">Fotografias:</span>
			<div id="fotografiasDisplay" class="form-control" style="width:500px;height:120px;overflow:auto;"></div>
		</div>
		
		<input id="fileInput" type="file" style="display:none;" multiple="true"/>

		<button type="button" class="btn btn-danger"  ng-click="cancelar()">
			<i class="glyphicon glyphicon-remove"></i>
			Cancelar
		</button>

		<button type="button" class="btn btn-primary" ng-click="subir()">
			<i class="glyphicon glyphicon-cloud-upload"></i>
			Subir Fotograf&iacute;as
		</button>

		<button type="button" class="btn btn-success" ng-click="aceptar()" >
			<i class="glyphicon glyphicon-ok"></i>
			Aceptar
		</button>
	</div>
</div>