<div class="col s12 m12 l12" ng-show="display">
    <div class="card white z-depth-2">

        <!-- tarjeta: Titulo -->
        <div class="card grey lighten-2 z-depth-2 center">
            <div class="card-action">
                <h4>
                    Partes de Prensa | Lista
                </h4>
            </div>
        </div>

        <!-- Tarjeta: Contenido -->
        <div class="card-content white">

            <!-- Boton: Nuevo-->
            <div class="nav orange darken-4">
                <button class="btn orange darken-4 left-align" ng-click="nuevo()">
					Nuevo
					<i class="icon ion-android-add-circle right"></i>
				</button>
            </div>

            <!-- Tarjeta: Filtros -->
            <div class="card-action white">

                <!-- Alerta -->
                <div class="row">
                    <div class="col s12 m12 l12 {{alertColor}} lighten-4">
                        {{alertText}}
                    </div>
                </div>

                <div class="row">

                    <!-- Titulo -->
                    <div class="col s4 m4 l4">
                        <label for="titulo">Titulo:</label>
                        <div class="input-field">
                            <input s type="text" maxlength="250" ng-model="titulo">
                        </div>
                    </div>

                    <!-- Fecha -->
                    <div class="col s4 m4 l4">
                        <label for="fecha">Fecha:</label>
                        <div class="input-field">
                            <input id="fecha" type="date" class="datepicker">
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="col s4 m4 l4">
                        <button type="button" class="btn blue darken-2" ng-click="filtrosAplicar()">
							Aplicar Filtros
							<i class="icons ion-android-cancel right"></i>
						</button>

                        <button type="button" class="btn blue lighten-2" ng-click="filtrosCancelar()">
							Cancelar Filtros
							<i class="icons ion-android-upload right"></i>
						</button>
                    </div>
                </div>

            </div>
            <!-- Tabla: Partes -->
            <table class="table bordered striped hightlight">
                <tr>
                    <td width="50" align="center">
                        <strong>ID</strong>
                    </td>
                    <td width="*" align="center">
                        <strong>TITULO</strong>
                    </td>
                    <td width="80" align="center">
                        <strong>REDACTADO</strong>
                    </td>
                    <td width="80" align="center">
                        <strong>PUBLICADO</strong>
                    </td>
                    <td width="80" align="center">
                        <strong>HORA</strong>
                    </td>
                    <td width="80" align="center">
                        <strong>ESTADO</strong>
                    </td>
                    <td width="130" align="center">
                        <strong>ACCIONES<strong>
					</td>
				</tr>
				<tr ng-repeat="p in partes">
					<td>
						{{p.id}}
					</td>
					<td>
						{{p.titulo}}
					</td>
					<td>
						{{p.redactado}}
					</td>
					<td>
						{{p.publicado}}
					</td>
					<td>
						{{p.hora}}
					</td>
					<td>
						{{p.estado}}
					</td>
					<td>
						<button ng-click="visualizar(p.id)" class="white-text blue darken-3 left" style="border:0;">
							<i class="icon ion-android-search"></i>
						</button>
						<button ng-click="modificar(p.id)"  class="white-text blue darken-3 left" style="border:0;">
							<i class="icon ion-android-create"></i>
						</button>
						<button ng-click="estado(p.id)"     class="white-text blue darken-3 left" style="border:0;">
							<i class="icon ion-android-sync"></i>
						</button>
						<button ng-click="eliminar(p.id)"   class="white-text red darken-3 left" style="border:0;">
							<i class="icon ion-android-delete"></i>
						</button>
					</td>
				</tr>
			</table>

		</div>

		<!-- Tarjeta: Paginador -->
		<div class="card-action blue darken-2 center">

			<button class="btn blue darken-2 white-text" ng-click="first()">
				<i class="icons ion-ios-skipbackward"></i>
			</button>
			<button class="btn blue darken-2 white-text" ng-click="back()">
				<i class="icons ion-ios-rewind"></i>
			</button>
			<button class="btn blue darken-2 white-text">
				{{xpos +1}} de {{xlast +1}}
			</button>
			<button class="btn blue darken-2 white-text" ng-click="next()">
				<i class="icons ion-ios-fastforward"></i>
			</button>
			<button class="btn blue darken-2 white-text" ng-click="last()">
				<i class="icons ion-ios-skipforward"></i>
			</button>
		</div>

	</div>
</div>