<div class="col s12 m12 l12">
	<div class="card white z-depth-2">

		<!-- tarjeta: Titulo -->
		<div class="card grey lighten-2 z-depth-2 center">
			<div class="card-action">
				<h4>
					Administrar Partes de Prensa
				</h4>
			</div>
		</div>

		<!-- Tarjeta: Contenido -->
		<div class="card-content white">

			<!-- Boton: Nuevo-->
			<button class="btn orange darken-4" ng-click="nuevo()">
				Nuevo
				<i class="icon ion-android-add-circle right"></i>
			</button>

			<!-- Tabla: Partes -->
			<table class="table bordered striped hightlight">
				<tr>
					<td width="50" align="center">
						<strong>ID</strong>
					</td>
					<td width="*" align="center">
						<strong>TITULO</strong>
					</td>
					<td width="80" align="center">
						<strong>REDACTADO</strong>
					</td>
					<td width="80" align="center">
						<strong>PUBLICADO</strong>
					</td>
					<td width="80" align="center">
						<strong>HORA</strong>
					</td>
					<td width="80" align="center">
						<strong>ESTADO</strong>
					</td>
					<td width="130" align="center">
						<strong>ACCIONES<strong>
					</td>
				</tr>
				<tr ng-repeat="p in partes">
					<td>
						{{p.id}}
					</td>
					<td>
						{{p.titulo}}
					</td>
					<td>
						{{p.redactado}}
					</td>
					<td>
						{{p.publicado}}
					</td>
					<td>
						{{p.hora}}
					</td>
					<td>
						{{p.estado}}
					</td>
					<td>
						<button ng-click="visualizar(p.id)" class="white-text blue darken-3 left">
							<i class="icon ion-android-search"></i>
						</button>
						<button ng-click="modificar(p.id)"  class="white-text blue darken-3 left">
							<i class="icon ion-ios-compose"></i>
						</button>
						<button ng-click="estado(p.id)"     class="white-text blue darken-3 left">
							<i class="icon ion-android-compass"></i>
						</button>
						<button ng-click="eliminar(p.id)"   class="white-text red darken-3 left">
							<i class="icon ion-android-delete"></i>
						</button>
					</td>
				</tr>
			</table>

		</div>

		<!-- Tarjeta: PAginador -->
		<div class="card-action blue darken-2">

		</div>

	</div>
</div>